<div class="container-xxl d-flex flex-wrap justify-content-center py-2 flex-md-row flex-column">
    <div class="mb-2 mb-md-0">
        ©
        <script>
            document.write(new Date().getFullYear());
        </script>
        , made with <i class='bx bxs-heart bx-flashing text-danger'></i> by Abdul Aziz Firdaus</a>
    </div>
</div>