USE [master]
GO
/****** Object:  Database [db_test_crud]    Script Date: 1/28/2025 1:04:37 PM ******/
CREATE DATABASE [db_test_crud]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db_test_crud', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\db_test_crud.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'db_test_crud_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\db_test_crud_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db_test_crud].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db_test_crud]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 1/28/2025 1:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NULL,
	[age] [int] NULL,
	[salary] [decimal](18, 0) NULL,
	[department] [varchar](50) NULL,
	[sex] [varchar](50) NULL,
	[created_at] [datetime] NULL,
 CONSTRAINT [PK__Employee__3214EC075B7E3A5B] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT (getdate()) FOR [created_at]
GO
USE [master]
GO
